@font-face {
font-family: ‘Antipasto’;
   src: url('../fonts/font/antipasto.eot');
   src: url('../fonts/font/antipasto.eot?#iefix') format('embedded-opentype'),
        url('../fonts/font/antipasto.woff') format('woff'),
        url('../fonts/font/antipasto.ttf') format('truetype'),
        url('../fonts/font/antipasto.svg#adlerRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
    font-family: "Roboto", sans-serif;
    position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.nav > li {
    font-size: 16px;
}
.parrafo{
    font-family: Roboto;
    font-size: 14pt;
    padding-bottom: 30px;
}
.btn-minimalist{
    background-color: transparent;
    border: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 16px;
        position: relative;
    display: block;
}
.btn-minimalist-blue{
    background-color: transparent;
    border: 2px solid #204478;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 16px;
}
.btn-minimalista{
    background-color: transparent;
    border: 2px solid #fff;
    margin: 10px;
    color: white;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-minimalista a{
    color: white;
    font-size: 16pt;
}
.btn-blue{
    border-color: transparent;
    font-family: Roboto;
    font-size: 16pt;
    background-color: #204478;
    color: white;
    text-transform: uppercase;
    padding: 10px 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn-blue a{
    color: white;
}
.btn-blue:hover{
    color: #204478;
    border: 2px solid #204478;
    background-color: transparent;
}
.btn-blue:hover a{
    color: #204478;
 }
 .banner-publicidad{
    background-color: #4b98dd;
 }

 /*TIMER*/
 .menu-timer{
    background-color: transparent;
    margin-bottom: 20px;

 }
 .timer-iconos{
    color: #204478;
    font-size: 30pt;
    margin-right: 20px;
 }
 .timer-bloque{
    /*background-image: url(../img/bloque-01.png);
    background-repeat: no-repeat;
*/
 }
 .wraper{
        padding: 4% 4% 0% 4%;
        color: #fff;
}
 .texto-timer{
    color: #204478;
    font-size: 35pt;
    text-align: right;
    font-family: "antipasto";
 }
 .second-text-timer{
    color: #2d2d2d;
    font-family: "antipasto";
    text-align: center;
    font-size: 20pt;
    border: 2px solid #2d2d2d;
    padding: 20px;
    margin-top: 20px;
    
 }
 .timer{
    font-family: ‘Antipasto’;
    font-size: 100pt;
    color: #424242;
    border: none

 }
 .timer>li>p{
    color: #424242;
}
 .timer>li>span{

    border-bottom: 3px solid #424242;
 }
 .timer-bloque>img{
    float: right;
 }



/*-------------------------------------------------------------
 * Countdown
 *-------------------------------------------------------------*/


#back-countdiown{
    padding: 0;
}

#back-countdiown li {
    display: inline-block;
    text-align: center;
    position: relative;
}

@media screen and (max-width:600px){
    #back-countdiown li{
       margin-bottom: 20px;
    }
}


#back-countdiown li:last-child {
  margin-right: 0
}
#back-countdiown li p{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
}
#back-countdiown li span:hover {
    cursor: pointer;
}
/*END TIMER*/




.navbar-default
{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #204478;
  color: white;
}
/*MENU*/
.btn-menu-active{
   border-bottom: 1px solid #fff; 

 
}
.product{
    margin-top: 100px;
}
/*REGISTRO*/
@media (min-width: 768px) {
  .container {
    width: 75%;
  }
}
.registro-cuadro{
    background-color: #204478;
    width: 1140px;
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    margin-top: 3%;
    padding: 3%;
    display: grid;
}
 .reg-cuadro{
    background-color: white;
    padding: 20px;
    text-align: left;
    margin: 0 auto;

 }
 .registro-cuadro-inner{

 }
 .acceso-social{
    color:white;
    background-color: #4b95da;
    font-size: 15pt;

    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
 }
 .registro-titulo{
    text-align: center;
    font-size: 30px;
    color: #495057;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   margin-top: 20px;
   margin-bottom: 20px; 


 }
 .register-formulario {
    padding: 20px;
}
.subt-registro>label{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   font-size: 16px;
   text-align: center;
   font-weight: normal;
}
/*POSTULACIONES*/
.caja-postulaciones{
    border-radius: 5%;
     /*border: 1px solid #c50f0f61;*/
}
.titulo-postulaciones{    
    text-transform: uppercase;
    color: white;
    font-family: Roboto;
    font-size: 20pt;
    background-color: #ad3131;
}

.ofertaUrgente{
  background: #f5f5f5;

  color: red;
}
/*QUIENES SOMOS*/
.qs-text{
    color: #515151;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 15px;
    font-family: Roboto;
    
}
.qs-iconos{
    color: #4b95da;
    font-size: 90pt;
}
.qs-subt{
    font-family: ‘Antipasto’;
    color: #204478;
    font-size: 28pt;
    padding-top: 30px;
    text-transform: uppercase;
}
.qs-mv{
    
    padding-top: 80px;
}
.lista-valores{
    text-align: left;
    margin-left: 20px;
    width:700px;
}


 .banner-light{
    color: white;
    font-size: 20pt;
    font-family: Roboto;
    padding-top: 20px;
    
 }
 .banner-light>p{
    margin: 20px;
 }
 .pie-pag{
    font-size: 12pt;
    text-align: left;
    margin: 20px 0px 20px 0px; 
    
    color: #686868;

 }
 footer{
    background-color: #f4f4f4;
 }
 .inicio{
    background-color: #efefef;
    display: block;
    margin-top: 20px;
    padding: 40px 0px 40px 0px;
 }
 .inicio-cuadro{
    background-color: white;
    width: 700px;
    padding: 20px;
    text-align: left;
    margin: 0 auto;
 }
 .pie-pag>h3{
    color:#686868;
 }
 .pie-pag>p{

    margin-bottom: 5px; 
 }
 .pie-pag>p>a{
    font-size: 15px;
    text-align: left;
 }
.bloque{
    background-color: #204478;
    padding-top: 40px;

}
.cuadrado{
    border: 2px solid #204478;
    margin-left: 50px;
    margin-right: -50px;
    text-align: center;
}
.canea-text{
    background-color: transparent;
    text-align: center;
    font-weight: 1000;
    /*border: 2px solid #204478;*/
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 190pt;
    font-family: ‘Antipasto’;
    color: #204478;
    font-weight: bolder;
}
.altura{
    height: 400px;
}
.titulo{
    display: inline-block;
    margin: 0 auto;    
    font-family: ‘Antipasto’;
    font-size: 30pt;
    text-align: center;
    color: #204478;
    border-bottom: 3px solid #204478;
    
}
.titulo-blanco{
    font-family: ‘Antipasto’;
    font-size: 30pt;
    text-align: center;
    color: white;
    border-bottom: 3px solid white;
}
.texto{
    padding-top:20px; 
}
.registro-nav{
    margin: 0 auto;
        width: 100px;
    color: #204478;
    border: 2px solid #204478;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    
    
}

.navbar {
    min-height: 60px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px;
    color: white;
}

.indicadores {
    position: relative;
    display: flex;
   justify-content: center;
   align-items: center;
}
.texto-white{
    color: white;


}
.texto-white h5{
    color: white;


}


.btn-minimalist{
    background-color: transparent;
    border: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 16px;
}
.iconos{
    color: white;
    border: 1px solid white;
  padding: 20px;
}
.social{
    font-size: 20px;
     color: white;
}
.menu{
    color:white;
}
.link{
    font-weight: bold;
    color: #0b66a9;
}
.social{
    font-size: 20px;
     color: white;
}
.logo{
    padding: 10px;
}
.centro{
    text-align: center;
}

.fadeInfadeOut {
    -webkit-animation: fadeinout 0.2s linear forwards;
    animation: fadeinout 0.2s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes fadeinout {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}


.errorClass{
  color: #FF2645;
  font-family: Roboto;
  font-size: 12px;
  position: absolute;
  bottom: 36px;
  font-weight: bold;
}

.errorClass1{
  color: #FF2645;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  /*position: absolute;*/
  bottom: 220px;
}